version: '3'
services:
  bblfshd:
    image: "bblfsh/bblfshd:latest"
    privileged: true
    entrypoint: "/bin/sh"
    command: ["/start-bblfshd.sh"]
    volumes:
      - ./start-bblfshd.sh:/start-bblfshd.sh
    ports:
      - "9800:9432"
  python-driver:
    image: "bblfsh/python-driver:v2.1.2"
    ports:
      - "9801:9432"
  java-driver:
    image: "bblfsh/java-driver:v2.0.2"
    ports:
      - "9802:9432"
  javascript-driver:
    image: "bblfsh/javascript-driver:v2.0.2"
    ports:
      - "9803:9432"
  python-naive:
    build: ./python
    volumes:
      - ./fixtures:/fixtures
  java-naive:
    build: ./java
    volumes:
      - ./fixtures:/fixtures
